{% extends "modal.html" %}
{% load i18n static inkscape humanize %}

{% block title %}{% blocktrans with name=object.name %}Budget for {{ name }}{% endblocktrans %}{% endblock %}
{% block headerdesc %}{% trans "Published budgets for the project which are kept up to date manually." %}{% endblock %}
{% block keywords %}budget,money,spending,income,expenses,graph,data{% endblock %}
{% block "og-image" %}{% static "images/inkscape-og-accounts.png" %}{% endblock %}

{% block "css" %}{{ block.super }}
  {{ stats.media }}
<style>
  table.stats td,
  table.stats th {
    padding: 6px 2px;
  }
  table.stats th.row:first-child {
    border-radius: 0px;
    padding: 6px 5px;
  }
</style>
{% endblock %}

{% block "dialog-title" %}
  <h1>{{ object.name }}</h1>
{% endblock %}

 {% block "dialog-subtitle" %}
<ul class="notelist nonfield"><li>{% trans "Income may be missing in some months as the manual process for pulling in donations does not run for every month. Months of large donations following months of low donations should be considered to be overflows due to this iregular data." %}</li></ul>
{% endblock %}

{% block "dialog-body" %}
  <table class="alternating stats" style="width: 100%; font-size: 80%;">
    <thead>
      <tr>
        <th scope="col" colspan="2">Date</th>
        {% for category in table.cols %}
          <th scope="col">{{ category.name|default:"Total" }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.rows %}
        <tr>
          {% ifchanged %}
          <th scope="row" class="row" rowspan="{{ row.year.count }}">{{ row.year.value }}</th>
          {% endifchanged %}
          <th scope="row" class="row" title="{{ row.entry.point.isoformat }}">{{ row.entry.point|date:"M" }}</th>
          {% for datum in row.data %}
            <td {% if datum < 0 %}style="color: #bd0101;"{% endif %}>{{ datum|intcomma }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    {% if object.entries.count > 1 %}
    <tfoot>
      <tr><th class="row" colspan="{{ table.cols|length|add:2 }}">...</th></tr>
    </tfoot>
    {% endif %}
  </table>
  <hr/>
  {% for stat in stats %}
    {{ stat.render }}
    <hr/>
  {% endfor %}
{% endblock %}
