.ct-control-chart {
  opacity: 0.3;
}
.ct-cc-upper {
  stroke: red;
  stroke-width: 4px;
  stroke-dasharray:2.8125,2.8125;
  stroke-dashoffset:0;
  fill-opacity: 0;
}
.ct-cc-lower {
  stroke: green;
  stroke-width: 4px;
  stroke-dasharray:2.8125,2.8125;
  stroke-dashoffset:0;
  fill-opacity: 0;
}
.ct-cc-mean {
  stroke: blue;
  stroke-width: 4px;
  fill-opacity: 0;
}
.ct-cc-area {
  stroke-opacity: 0;
  fill-opacity: 0.4;
  fill: #000;
}
.ct-cc-gap {
  stroke-opacity: 0;
  fill-opacity: 0.2;
  fill: #000;
}
