    <ul id="social">
      {% for menu in menu_items %}
        <li id="menu_{{ menu.item.pk }}" class="{% if menu.item.icon %}iconized{% endif %} {% if menu.item.only_icon %}notext{% endif %}">
            <a {% if menu.item.url %}href="{{ menu.item.url }}"{% endif %} title="{{ menu.item.title|default:'' }}" rel="me nofollow noopener">
                {% if menu.item.icon %}
                <img src="/media/{{ menu.item.icon }}" alt="{{ menu.item.title|default:'' }}" />
                {% endif %}
                {% if menu.item.only_icon == False or not menu.item.icon %}
                    {{ menu.item.name}}
                {% endif %}
            </a>
        </li>
      {% endfor %}
    </ul>
