{% extends 'base.html' %}
{% load static i18n i18n_fields humanize %}

{% block title %}{% blocktrans %}Download {{ object }}{% endblocktrans %}{% endblock %}
{% block headerdesc %}{{ object|translate_field:"html_desc" }}{% endblock %}
{% block keywords %}download,choose,{{ object|translate_field:"keywords" }}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/shield.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/releases.css" %}"/>
{% endblock %}
{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/release.js" %}"></script>
{% endblock %}
{% block supercontent %}
  {% if object.is_draft %}
    <ul id="messages">
      <li class="warning" title="{% trans "Use the admin to publish." %}">{% trans "This release is in Draft mode. It is not visible to the public yet." %}</li>
    </ul>
  {% endif %}

<div id="shield" class="download">
  <div id="banners"
    {% if object.background %}
      style="background-image:url({{ object.background.url }})"
    {% elif parent.background %}
      style="background-image:url({{ parent.background.url }})"
    {% endif %}>
  </div>
  <ul class="tabs fixed">
    {% with release=object %}
      {% for platform in platforms %}
        {% include "releases/platform_tab.html" %}
      {% empty %}
      <li>
        <a>
          <strong>{% trans "No Platforms" %}</strong>
          <img src="{% static "images/releases/icon.png" %}"/>
          {% trans "Not released for any platforms yet." %}
        </a>
      </li>
      {% endfor %}
    {% endwith %}
  </ul>
</div>

  <div id="left-column" class="notes">
    {% if object %}
      <h1>{% trans "Release Notes" %}</h1>
      <p>{{ object|translate_field:"release_notes"|safe|default:"No Release Notes" }}</p>
    {% else %}
      <h1>{% trans "No Public Release Yet" %}</h1>
    {% endif %}
  </div>

  <div id="right-sidebar" class="releases">
    <div id="sidecategory">
      <h1>{{ object }}</h1>
      <a title="{% trans "Download Count" %}" href="#downloads" class="btn btn-primary">{{ object.get_download_count|intcomma }}</a>
      <a href="{% url "releases:platforms" object.version %}" class="btn btn-default">{% trans "All Platforms" %}</a>
      <h2>{% trans "Responsible People" %}</h2>
      <ul>
        {% for label, help_text, person in object.responsible_people %}
          {% if person %}
            <li><label title="{{ help_text }}">{{ label }}{% trans ":" %}
              <a href="{{ person.get_absolute_url }}">{{ person }}</a>
            </label></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% for name, items, latest in releases %}
       {% if items %}
	<h2>{{ name }}</h2>
	<ul class="ellipses-hidden">
	  {% for release in items %}
            {% if not release.is_draft or perms.releases.change_release %}

	    {% if release == object %}
	      <li class="subtle active"><a>
            {% elif latest and object.parent_id == release.pk %}
	      <li class="subtle active"><a>
	    {% else %}
            <li class="{% if not release.is_draft %}subtle{% endif %}{% if release.hide %} hide{% endif %}">
                <a href="{{ release.get_absolute_url }}{% if latest %}?latest=1{% endif %}">
	    {% endif %}
	    <label>{{ release.codename|default:release.get_version_name }}</label>
            {% if release.is_draft %}
              <span class="failed">{% trans "DRAFT" %}</span>
	    {% elif release.release_date %}
	      <span>{{ release.release_date.year }}</span>
	    {% endif %}
	      </a>
	    </li>
            {% endif %}
	  {% endfor %}
          {% if not latest and has_pre_releases %}
            <li class="ellipses-button">{% trans "Show more..." %}</li>
          {% endif %}
	</ul>
       {% endif %}
      {% endfor %}
      {% if projects.count > 1 %}
        <h2>All Projects</h2>
	<ul class="ellipses-hidden">
        {% for project in projects %}
          <li class="subtle{% if project == object.project %} active{% endif %}">
            <a{% if project != object.project %} href="{{ project.get_absolute_url }}"{% endif %}>
                <label>{{ project }}</label>
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      <a href="https://repology.org/metapackage/{{ object.project.slug }}/versions">
        <img src="https://repology.org/badge/tiny-repos/{{ object.project.slug }}.svg" alt="Packaging status">
      </a>
    </div>
  </div>
{% endblock %}
