{% load i18n %}

<h2>Agenda for {{ oce.start|date:"l jS M Y" }}</h2>

{# Existing agenda items, for editing if you created them #}
{% for agendum in oce.agenda.all %}
  {% if forloop.first %}
    <table style="width: 100%">
  {% endif %}

  <tr>
    <td><input type="checkbox" DISABLED{% if agendum.is_complete %} CHECKED{% endif %}/></td>
    <td><a href="{{ agendum.creator.get_absolute_url }}">{{ agendum.creator }}</a></td>
    <td style="width: 90%">{{ agendum }} {% if agendum.link %}<a href="{{ agendum.link }}">🔗</a>{% endif %}</td>
    <td>
      {% if not agendum.is_complete and not agendum.deferred_to %}
      <a class="btn btn-success" href="{% url "calendars:complete_agendum" oce.event_id oce.pk agendum.pk %}" title="{% trans "Complete Item" %}">{% trans "Complete" %}</a>
      {% endif %}
    </td>
    <td>
      {% if not agendum.deferred_to and oce.event.next_occurance %}
      <a class="btn btn-default" href="{% url "calendars:defer_agendum" oce.event_id oce.pk agendum.pk %}" title="{% trans "Defer Item to next Meeting" %}">{% if agendum.is_complete %}{% trans "Copy" %}{% else %}{% trans "Defer" %}{% endif %}</a>
      {% endif %}
    </td>
  </tr>

  {% if forloop.last %}
    </table>
  {% endif %}
{% endfor %}

