{% extends "modal.html" %}
{% load i18n static cal %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/localtime.js" %}"></script>
{% endblock %}

{% block "meta" %}
  <meta name="author" content="{{ objct.event.creator }}" />
  <meta name="description" content="{{ object.start|date:"c" }} // {{ request.build_absolute_uri }}{{ object.get_absolute_url }}
{{ object.event.description|striptags|truncatechars:100 }}"/>
  <meta name="keywords" content="inkscape,calendar,entry,occurance,meeting,{{ object.event.parent }}" />
  <meta property="og:image" content="{% static "images/inkscape-og-calendar.png" %}" />
{% endblock %}
{% block body-classes %}calendar {% endblock %}
{% block "dialog-subtitle" %}
<em style="padding-left: 20px; font-size: 80%;"><a href="{{ object.presided.get_absolute_url }}">{% blocktrans with presided=object.presided|default:object.event.creator %}Presided by {{ presided }}{% endblocktrans %}</a></em>
{% endblock %}

{% block "dialog-body" %}
  <p>{{ object.event.description|safe }}</p>

  {% include "calendars/eventoccurance_static.html" with oce=object %}
{% endblock %}

{% block "dialog-buttons" %}
  <a class="btn btn-primary" href="{{ object.event.get_absolute_url }}">{% trans "Back to Event" %}</a>
{% endblock %}
